- provide(:title, 'All Chat Ques')
%h1 All Chat Ques
%h3 
  = link_to "Add Chat Que", new_chat_que_path
=#will_paginate
=# debug(@chat_ques)
%ul.skills
  - @chat_ques.each do |t|
    - if t.chat_que.present?
      %li
        = link_to t.chat_que.name, t.chat_que
        - #if current_user.admin? && !current_user?(user) 
        = link_to "edit", edit_chat_que_path(t.chat_que)
        = link_to "delete", t.chat_que, method: :delete,
                                  data: { confirm: "You sure?" }
=#will_paginate